<% content_for :top_content do %>
<div class="jumbotron">
  <div class="container">
    <h1>Agenda Online</h1>
    <p>Controle seus contatos a qualquer hora, em qualquer lugar, em todos os seus dispositivos.</p>
    <p>
      <%= link_to 'Criar Usuário', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
<% end %>
