<%= header "Contato: #{@contact.contactName}" %>
<div class="row">
  <div class="col-md-7">
    <table class="table table-default">
      <tr>
        <th>Email</th>
        <th>Telefone</th>
      </tr>
      <tr>
        <td><%= @contact.contactEmail %></td>
        <td><%= @contact.contactPhone %></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <%= link_to 'Voltar', contacts_path, class: 'btn btn-default btn-lg' %>
</div>
