<p>Olá <%= @resource.email %>!</p>
<p>Alguém solicitou um email com instruções para alteração da sua senha no sistema.</p>
<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Se você não solicitou isso, ignore este email.</p>
<p>Sua senha não será alterada a menos que você acesse o link acima e mude a sua senha.</p>
